<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <!--<clear/>-->
    <add name="DefaultContext" connectionString="Initial Catalog=lemei;Data Source=183.249.84.44,1433;user id=sa;password=wujunpeng1754" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="LogPath" value="D:\Logs\DK"/>
    <add key="ratio" value="0.0005" />
  </appSettings>
</configuration>